<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title align="center">Message</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar (ioninput)="search($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content>
    <br>



    <ion-segment [(ngModel)]="Segment">
        <ion-segment-button value="unread">
            <ion-label>Unread</ion-label>

        </ion-segment-button>

        <ion-segment-button value="opened">
            <ion-label>Opened</ion-label>
        </ion-segment-button>

    </ion-segment>

    <div [ngSwitch]="Segment">
        <div *ngSwitchCase="'unread'">
            <div *ngFor="let msg of messageUnReadList ">
                <!-- <div *ngIf="msg.isRead; else elseBlock"> -->

                <ion-item tappable (click)="OpenPreview(msg)">
                    <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"> -->
                    <table style="width:100%">
                        <tr>
                            <th>

                                <h6><i class="i1" color="primary" style="zoom:0.7;" class="material-icons">mail</i>&nbsp;&nbsp;{{msg.name | slice:0:12}}</h6>
                            </th>
                            <th float-left>
                                <h6 float-left>{{msg.message | slice:0:20}}</h6>
                            </th>
                            <th>
                                <h6 float-right>{{msg.date | date:"MMM dd H:mm" }}</h6>
                            </th>
                        </tr>
                    </table>
                    <!-- </mat-paginator> -->

                </ion-item>
                <!-- </div> -->

            </div>
        </div>

        <div *ngSwitchCase="'opened'">

            <div *ngFor="let msg of messageReadList">
                <!-- <ng-template *ngif="msg.isRead"> -->
                <ion-item tappable (click)="OpenPreview(msg)">

                    <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"> -->
                    <table style="width:100%">
                        <tr>
                            <th>

                                <h6><i class="i2" color="secondary" style="zoom:0.7;" class="material-icons">mail</i>&nbsp;&nbsp;{{msg.name | slice:0:12}}</h6>
                            </th>
                            <th float-left>
                                <h6 float-left>{{msg.message | slice:0:12}}</h6>
                            </th>
                            <th>
                                <h6 float-right>{{msg.date | date:"MMM dd H:mm" }}</h6>
                            </th>
                        </tr>
                    </table>
                    <!-- </mat-paginator> -->
                </ion-item>

                <!-- </ng-template> -->
            </div>
        </div>
    </div>

</ion-content>