<ion-header>
    <!-- <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title align="center">Message</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar showcancelbutton="" (ionInput)="search($event)"></ion-searchbar>
    </ion-toolbar> -->

    <ion-toolbar color="primary">
        <ion-buttons slot="start" *ngIf="!isSearchbar">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="!isSearchbar" align="center">Message</ion-title>

        <ion-searchbar showCancelButton="always" (ionCancel)="isSearchbar=false" *ngIf="isSearchbar" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>

        <ion-buttons slot="end" (click)="isSearchbar= true" *ngIf="!isSearchbar">
            <ion-icon name="search" slot="end" class="searchIon"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="isSegment">
        <ion-segment [(ngModel)]="Segment" color="primary">
            <ion-segment-button value="unread">
                <ion-label>New</ion-label>

            </ion-segment-button>

            <ion-segment-button value="opened" color="primary">
                <ion-label>Opened</ion-label>
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div [ngSwitch]="Segment">
        <div *ngSwitchCase="'unread'">
            <ion-list lines='full'>
                <div *ngFor="let msg of messageUnReadList ">

                    <ion-item class="big">

                        <ion-avatar (click)="OpenPreview(msg)" class="test" slot="start" class="Randomcolor" [ngStyle]="{'background-color': getColor(msg.name)}">
                            {{msg.name | slice:0:1}}
                        </ion-avatar>

                        <div (click)="OpenPreview(msg)" class="test">
                            <ion-label>
                                <span class="font">
                                <span class="name"> {{this.shorten_text(msg.name)}} </span>
                                <span class="ion-float-right dateBig">{{this.timeFrame(msg.date) }}</span>

                                </span>
                                <span class="font">{{msg.subject}}</span>
                                <span class="hide "> &nbsp; - &nbsp; </span>
                                <span class="p">{{msg.message}}</span>
                            </ion-label>
                        </div>

                        <ion-button slot="end" class="only-show-on-hover" color="primary" (click)="deleteMessage(msg)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>

                    </ion-item>


                    <ion-item-sliding class="small">
                        <ion-item tappable (click)="OpenPreview(msg)">
                            <ion-avatar slot="start" class="Randomcolor" [ngStyle]="{'background-color': getColor(msg.name)}">
                                {{msg.name | slice:0:1}}
                            </ion-avatar>

                            <ion-label>
                                <h2 class="font">{{msg.name}} <span class="ion-float-right dateSmall">{{this.timeFrame(msg.date) }}</span></h2>
                                <h3 class="font">{{msg.subject}}</h3>
                                <p>{{msg.message}}</p>
                            </ion-label>

                        </ion-item>
                        <ion-item-options side="end">
                            <ion-item-option color="danger" (click)="deleteMessage(msg)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-item-option>
                            <ion-item-option>
                                <ion-icon slot="icon-only" name="star"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>


                </div>
            </ion-list>
        </div>

        <div *ngSwitchCase="'opened'" class="Bg-opend">
            <ion-list lines='full'>
                <div *ngFor="let msg of messageReadList">
                    <!-- <ng-template *ngif="msg.isRead"> -->
                    <ion-item class="big">

                        <ion-avatar (click)="OpenPreview(msg)" class="test" slot="start" class="Randomcolor" [ngStyle]="{'background-color': getColor(msg.name)}">
                            {{msg.name | slice:0:1}}
                        </ion-avatar>

                        <div (click)="OpenPreview(msg)" class="test">
                            <ion-label>
                                <span class="font">
                                    <span class="name"> {{this.shorten_text(msg.name)}} </span>
                                <span class="ion-float-right dateBig">{{this.timeFrame(msg.date) }}</span>

                                </span>
                                <span class="font">{{msg.subject}}</span>
                                <span class="hide "> &nbsp; - &nbsp; </span>
                                <span class="p">{{msg.message}}</span>
                            </ion-label>
                        </div>

                        <ion-button slot="end" class="only-show-on-hover" color="primary" (click)="deleteMessage(msg)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>

                    </ion-item>




                    <ion-item tappable (click)="OpenPreview(msg)" class="small">
                        <ion-avatar slot="start" class="Randomcolor" [ngStyle]="{'background-color': getColor(msg.name)}">
                            {{msg.name | slice:0:1}}
                        </ion-avatar>

                        <ion-label>
                            <h2 class="font">{{msg.name}} <span class="ion-float-right dateSmall">{{this.timeFrame(msg.date) }}</span></h2>
                            <h3 class="font">{{msg.subject}}</h3>
                            <p>{{msg.message}}</p>
                        </ion-label>

                    </ion-item>
                </div>
            </ion-list>
        </div>
    </div>




</ion-content>