<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Archived</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="row" *ngIf="data ==true">
        <div class="column" *ngFor="let details of propertyList">
            <ion-card class="card">
                <div class="IMGcontainers">
                    <img src="{{details.mainImage}}" style="width:100%">
                    <div class="bottom-right">
                        <ion-icon name="trash" (click)="deleteproperty(details)" color="danger"></ion-icon>
                        <ion-icon name="create" (click)="upadate(details)"></ion-icon>
                        <ion-icon name="move" (click)="sendToProperty(details)" color="danger"></ion-icon>
                    </div>
                </div>

                <ion-card-content>
                    <div class="action">

                    </div>
                    <p>{{details.price | currency:'R'}}</p>
                    <p>{{details.location}}</p>
                    <div>
                        <i class="fa fa-bed" aria-hidden="true">
                                        <span class="pad-value">{{details.bedrooms}}</span>
                                    </i>
                        <i class="fa fa-bath" aria-hidden="true">
                                        <span class="pad-value"> {{details.bathrooms}}</span>
                                    </i>
                        <i class="fa fa-car" aria-hidden="true">
                                        <span class="pad-value">  {{details.garage}}</span>
                                    </i>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

    <div class="row" *ngIf="data == false">
        <div class="column" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
            <ion-card class="card">
                <div class="IMGcontainers">
                    <ion-skeleton-text animated style="width: 100%; height: 170px;"></ion-skeleton-text>
                    <div class="bottom-right">

                        <ion-grid class="ion-no-padding">
                            <ion-row>
                                <ion-col>
                                    <ion-skeleton-text animated style="width: 250%"></ion-skeleton-text>
                                </ion-col>
                                <ion-col>
                                    <ion-skeleton-text animated style="width: 250%"></ion-skeleton-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </div>
                </div>

                <ion-card-content>
                    <div class="action">

                    </div>
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                    <div>
                        <ion-grid class="ion-no-padding">
                            <ion-row>
                                <ion-col>
                                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                                </ion-col>
                                <ion-col>
                                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                                </ion-col>
                                <ion-col>
                                    <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                                </ion-col>

                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>