<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{agentList?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <div class="profile">
        <div>
            <img src="{{agentList?.photoURL}}">

        </div>

        <div class="profile-upload">
            <label for="file-input">
                <ion-icon name="image" class="input" color="medium"> </ion-icon>
            </label>

            <input id="file-input" class="input" type="file" (change)="uploadProfilePic($event)" />
        </div>
    </div>
<div class="center">
    <ion-item>
        <ion-label>{{agentList?.email}}</ion-label>
        <ion-icon name="mail" color="dark" slot="start"></ion-icon>
        
    </ion-item>

    <ion-item>
        <ion-label>{{agentList?.name}}</ion-label>
        <ion-icon name="person" color="dark" slot="start"></ion-icon>
        <ion-icon name="create" color="dark" slot="end" (click)="nameChange(agentList)"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>{{agentList?.surname}}</ion-label>
        <ion-icon name="person" color="dark" slot="start"></ion-icon>
        <ion-icon name="create" color="dark" slot="end" (click)="surnameChange(agentList)"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>{{agentList?.companyName}}</ion-label>
        <ion-icon name="briefcase" color="dark" slot="start"></ion-icon>
        <ion-icon name="create" color="dark" slot="end" (click)="companyChange(agentList)"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>{{agentList?.number}}</ion-label>
        <ion-icon name="call" color="dark" slot="start"></ion-icon>
        <ion-icon name="create" color="dark" slot="end" (click)="numberChange(agentList)"></ion-icon>
    </ion-item>
</div>
</ion-content>