<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>addproperty</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <ion-item color="transparent">
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item color="transparent" class="group">
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item> -->

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Price</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Location</ion-label>
                <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Type of Property</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="House">House</ion-select-option>
                    <ion-select-option value="Townhouse">Townhouse</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3+</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Bedrooms</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5+</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Bathrooms</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3</ion-select-option>
                    <ion-select-option value="4">4</ion-select-option>
                    <ion-select-option value="5">5+</ion-select-option>

                </ion-select>
            </ion-item>


            <ion-item>
                <ion-label>Kitchens</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3+</ion-select-option>

                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Garage</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3+</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Lounges</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3+</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Garden</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="1">0</ion-select-option>
                    <ion-select-option value="1">1</ion-select-option>
                    <ion-select-option value="2">2</ion-select-option>
                    <ion-select-option value="3">3+</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Pets Allowed</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="Yes">yes</ion-select-option>
                    <ion-select-option value="No">No</ion-select-option>
                </ion-select>
            </ion-item>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">

            <div class="row">
                <div class="col">
                    <div class="profile-image">
                        Main image
                        <div>
                            <img src="/assets/img/1.jpg">

                        </div>
                        <!-- <div *ngIf="user.photoURL !='' ">
                          <img data-src="{{user.photoURL}}">
                      </div> -->
                        <!-- <ion-img class="profile-pic" (change)="uploadFile($event)" src="{{photoURL}}.jpeg"></ion-img> -->
                        <!-- <input class="input" type="file" (change)="uploadFile($event)" />
                      <ion-icon name="reverse-camera" class="input"> </ion-icon> -->

                        <div class="image-upload">
                            <label for="file-input">
                                  <ion-icon name="camera"  class="input" color="medium"> </ion-icon>
                              </label>

                            <input id="file-input" class="input" type="file" (change)="uploadFile($event)" />
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col">
                    Multi image upload
                    <div class="image-upload">
                        <label for="file-multi">
                              <ion-icon name="camera"  class="input" color="medium"> </ion-icon>
                          </label>

                        <input id="file-multi" class="input" type="file" (change)="uploadFile($event)" multiple>
                    </div>
                    <div class="row">
                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>

                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>

                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/1.jpg" style="width:100%">

                        </div>
                        <div class="column">
                            <img src="/assets/img/2.jpg" style="width:100%">

                        </div>



                    </div>
                    view all
                </div>
            </div>


        </div>
    </div>




    <!-- <ion-item color="transparent">
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item color="transparent" class="group">
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Type of Property</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="House">House</ion-select-option>
            <ion-select-option value="Townhouse">Townhouse</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3+</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Bedrooms</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5+</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Bathrooms</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5+</ion-select-option>

        </ion-select>
    </ion-item> -->

    <!-- <ion-item>
        <ion-label>Kitchens</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3+</ion-select-option>

        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Garage</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3+</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Lounges</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3+</ion-select-option>
        </ion-select>
    </ion-item>


    <ion-item>
        <ion-label>Garden</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="1">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3+</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Pets Allowed</ion-label>
        <ion-select interface="popover">
            <ion-select-option value="Yes">yes</ion-select-option>
            <ion-select-option value="No">No</ion-select-option>
        </ion-select>
    </ion-item> -->
</ion-content>