<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Add Property</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <!-- <ion-item color="transparent">
        <ion-label position="floating">Price</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>

    <ion-item color="transparent" class="group">
        <ion-label position="floating">Location</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item> -->

    <div class="row" *ngIf="isporpetyDetails">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <form [formGroup]="AddpropertyForm">
                <div class="profile-image">
                    Main image
                    <div *ngIf="mainImage =='' ">
                        <img src="/assets/img/1.jpg">

                    </div>
                    <div *ngIf="mainImage !='' ">
                        <img data-src="{{mainImage}}">
                    </div>


                    <div class="image-upload">
                        <label for="file-input">
                            <ion-icon name="camera" class="input" color="medium"> </ion-icon>
                        </label>

                        <input id="file-input" class="input" type="file" (change)="uploadFile($event)" accept="image/x-png,image/gif,image/jpeg" />
                    </div>
                </div>


                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea formControlName="description"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Price</ion-label>
                    <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Location</ion-label>
                    <!-- <ion-input type="text" formControlName="location"></ion-input> -->
                    <ion-input type="text" formControlName="location" (ionInput)="search($event)" [value]="selectedAddress" clearInput></ion-input>

                </ion-item>


                <ion-list position="floating" style="position: absolute; max-width: 100%; min-width: 100%; z-index: 999; ">
                    <!-- <ion-item *ngFor="let album of albums | filtro: textBuscar: 'title'"> -->

                    <ion-item *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)">
                        <ion-label>{{ address}}</ion-label>
                    </ion-item>
                </ion-list>





            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <form [formGroup]="AddpropertyForm">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Type of Property</ion-label>
                                <ion-select interface="popover" formControlName="typeofproperty">
                                    <ion-select-option value="House">House</ion-select-option>
                                    <ion-select-option value="Townhouse">Townhouse</ion-select-option>
                                    <!-- <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option> -->
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Bedrooms</ion-label>
                                <ion-select interface="popover" formControlName="bedrooms">
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3</ion-select-option>
                                    <ion-select-option value="4">4</ion-select-option>
                                    <ion-select-option value="5">5+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Bathrooms</ion-label>
                                <ion-select interface="popover" formControlName="bathrooms">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3</ion-select-option>
                                    <ion-select-option value="4">4</ion-select-option>
                                    <ion-select-option value="5">5+</ion-select-option>

                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Kitchens</ion-label>
                                <ion-select interface="popover" formControlName="kitchens">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Dining Room </ion-label>
                                <ion-select interface="popover" formControlName="diningroom">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Garage</ion-label>
                                <ion-select interface="popover" formControlName="garage">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Garden</ion-label>
                                <ion-select interface="popover" formControlName="garden">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Lounges</ion-label>
                                <ion-select interface="popover" formControlName="lounges">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Pool</ion-label>
                                <ion-select interface="popover" formControlName="pool">
                                    <ion-select-option value="0">0</ion-select-option>
                                    <ion-select-option value="1">1</ion-select-option>
                                    <ion-select-option value="2">2</ion-select-option>
                                    <ion-select-option value="3">3+</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Pets Allowed</ion-label>
                                <ion-select interface="popover" formControlName="pets">
                                    <ion-select-option value="Yes">yes</ion-select-option>
                                    <ion-select-option value="No">No</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Category</ion-label>
                                <ion-select interface="popover" formControlName="category">
                                    <ion-select-option value="sale">Sale</ion-select-option>
                                    <ion-select-option value="show">On Show</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
            <ion-button expand="full" (click)="Addproperty()" [disabled]="!AddpropertyForm.valid">Next</ion-button>
        </div>


    </div>



    <div *ngIf="!isporpetyDetails" class="uploadMulti">
        <div class="dropzone">


            <div class="image-upload">
                <label for="file-multiple">
                    <ion-icon name="photos" color="primary"></ion-icon>
                    <p>
                        Select Images
                    </p>
                </label>
                <input id="file-multiple" type="file" (change)="detectFiles($event)" multiple accept="image/x-png,image/gif,image/jpeg">
            </div>

            <ion-button (click)="uploadMulti()">
                Upload
            </ion-button>

            <div *ngIf="currentUpload">
                <div class="progress">
                    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                </div>
                Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
            </div>

        </div>
        <div class="row">
            <div class="column" *ngFor="let image of imageList">
                <img src="{{image.downloadURL}}" style="width:100%">
            </div>
        </div>
    </div>
</ion-content>