.cat {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 8px;
    padding: 14px;
    border-radius: 4px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: rgb(161, 12, 12);
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: rgb(122, 3, 3);
}

.container {
    position: relative;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(122, 3, 3);
}