<ion-header no-border no-shadow id="my-ion-header" class="mystyle">
    <ion-toolbar>



        <ion-buttons slot="start" class="ion-button-icons" (click)="close()">
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
        <!-- <ion-title>Details</ion-title> -->

        <ion-buttons slot="end" (click)="deleteMessage(msg)">
            <ion-icon name="trash" color="danger"></ion-icon>
        </ion-buttons>

        <ion-buttons slot="end" class="ion-button-icons" (click)="updateMessage(msg)">
            <ion-icon name="mail"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content fullscreen padding [scrollEvents]="true" (ionScroll)="myScroll($event)">
    <p>
        <b>{{msg.subject}}</b>
    </p>
    <ion-list lines='full' mode="ios">

        <ion-item>
            <ion-avatar slot="start">
                <img src="/assets/img/avatar.svg">
            </ion-avatar>
            <ion-label>
                <h6> {{msg.name}} : &nbsp;&nbsp; {{msg.email}}</h6>
            </ion-label>
        </ion-item>
    </ion-list>

    <p>
        {{msg.message}}

    </p>


    <div *ngFor="let details of propertyLink">

        <div *ngIf="msg.propertyid == details.propertyid">
            <ion-button expand="block" (click)='createContact(msg,details)'>save contact</ion-button>

            <ion-card class="card">
                <div class="IMGcontainers">
                    <img src="{{details.mainImage}}" style="width:100%">

                </div>

                <ion-card-content>
                    <div class="action">

                    </div>
                    <p>{{details.price | currency:'R'}}</p>
                    <p>{{details.location}}</p>
                    <div>
                        <i class="fa fa-bed" aria-hidden="true" *ngIf='details.bedrooms!=0'>
                                            <span class="pad-value">{{details.bedrooms}}</span>
                                        </i>
                        <i class="fa fa-bath" aria-hidden="true" *ngIf='details.bathrooms!=0'>
                                            <span class="pad-value"> {{details.bathrooms}}</span>
                                        </i>
                        <i class="fa fa-car" aria-hidden="true" *ngIf='details.garage!=0'>
                                            <span class="pad-value">  {{details.garage}}</span>
                                        </i>
                    </div>
                </ion-card-content>
            </ion-card>

        </div>
    </div>
</ion-content>