<!-- <ion-header>
    <ion-toolbar>
        <ion-title>viewmessage</ion-title>
    </ion-toolbar>
</ion-header> -->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<ion-content>
    <ion-item class="close-fake" lines="none" text-center>
        <ion-button slot="end" (click)="close()" fill="clear" color="Light">
            <ion-icon name="close" slot="start"></ion-icon>
            <!-- Back -->
        </ion-button>

        <ion-button slot="start" fill="clear" color="Light" (click)="deleteMessage(msg)">

            <!-- <div *ngFor="let msg of messageList "> -->
            <ion-icon name="trash" color="danger">
            </ion-icon>
            <!-- </div> -->

        </ion-button>

    </ion-item>



    <!-- <div align="center"> Property ID {{msg.propertyid}}
    </div> -->
    <br>
    <ion-item float-left>
        <ion-avatar slot="start">
            <img src="/assets/img/avatar.svg">
        </ion-avatar>
        <h6> <b>{{msg.name}} &nbsp;&nbsp; </b>{{msg.email}}</h6>
    </ion-item>

    <br><br><br>
    <ion-slides [options]="sliderOpts" #slider>
        <ion-slide float-left>

            <h4>{{msg.message}}</h4>

        </ion-slide>
    </ion-slides>

    <div *ngFor="let pl of propertyLink">
        <div *ngIf="msg.propertyid == pl.propertyid">

            <ion-card class="cat" align="center">
                <div class="container">
                    <img src="{{pl.mainImage}}">



                </div>
                <p class="top-left"><b>{{pl.price | currency:'R'}}</b></p>
                <p class="centered"><b>{{pl.location }}...</b></p>

                <ion-card-content class="bottom-right">


                    <i class="fa fa-bed" aria-hidden="true">
      &nbsp;  <span class="pad-value">{{pl.bedrooms}}</span>
    </i>
                    <i class="fa fa-bath" aria-hidden="true">
       &nbsp; <span class="pad-value"> {{pl.bathrooms}}</span>
    </i>
                    <i class="fa fa-car" aria-hidden="true"> 
       &nbsp; <span class="pad-value">  {{pl.garage}}</span>
    </i>
                </ion-card-content>

            </ion-card>
        </div>
    </div>
</ion-content>