<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Property listing</ion-title>
        <ion-buttons slot="end" (click)="addproperty()">
            <ion-icon name="add"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">



    <div class="row">
        <div class="column" *ngFor="let details of propertyList">

            <ion-card class="card">
                <img src="{{details.mainImage}}" style="width:100%">

                <ion-card-content>
                    <div class="action">
                        <ion-icon name="trash" (click)="deleteproperty(details)" color="danger"></ion-icon>
                        <ion-icon name="create" (click)="upadate(details)"></ion-icon>
                    </div>
                    <p>{{details.price}}</p>
                    <p>{{details.location}}</p>
                    <div>
                        <i class="fa fa-bed" aria-hidden="true">
                                            <span class="pad-value">{{details.bedrooms}}</span>
                                        </i>
                        <i class="fa fa-bath" aria-hidden="true">
                                            <span class="pad-value"> {{details.bathrooms}}</span>
                                        </i>
                        <i class="fa fa-car" aria-hidden="true">
                                            <span class="pad-value">  {{details.garage}}</span>
                                        </i>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>


    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" (click)="addproperty()" size="small">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>