<ion-content class="bgp">
    <div class="mmm">
        <ion-row>
            <ion-col class="ion-text-center">
                <br><br>
                <div class="op">
                    <div id="logo">
                        <img src="assets/img/darker_logo.png" alt="Avatar" class="imgC" width="280" height="130">
                    </div>
                </div>
                <br><br><br>
                <form [formGroup]="loginForm" *ngIf="isForgotPassword">
                    <div class="shipping-card">

                        <div class="group">
                            &nbsp; &nbsp;
                            <ion-label float-left>&nbsp; &nbsp;&nbsp; &nbsp;Email</ion-label>
                            <br>
                            <input type="email" formControlName="email">
                        </div>
                        <div class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                            &nbsp; &nbsp;&nbsp; &nbsp;Please input your email
                        </div>
                        <div class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                            &nbsp; &nbsp;&nbsp; &nbsp;Email address invalid
                        </div>

                        <div class="group">
                            <ion-label float-left>&nbsp; &nbsp;&nbsp; &nbsp;Password</ion-label>
                            <br>
                            <input type="password" formControlName="password">
                        </div>
                        <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                            &nbsp; &nbsp;&nbsp; &nbsp;Please input your password
                        </div>
                        <div class="error" *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                            &nbsp; &nbsp;&nbsp; &nbsp;Minimum 6 characters
                        </div>
                        <div class="error" *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                            &nbsp; &nbsp;&nbsp; &nbsp; Maximum 12 characters
                        </div>
                        <br>
                        <button type="button" class="btn btn-danger btn-block disabled" color="primary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
                        <br>
                        <a (click)="isForgotPassword = false" style="color: #a02b2d;">Forgot Password?</a>
                        <!-- <p>Dont have Account? <a (click)="registerPage()">Sign Up</a></p> -->
                    </div>
                </form>



                <form [formGroup]="forgotpasswordForm" *ngIf="!isForgotPassword">
                    <ion-item color="transparent" class="group">
                        <ion-label position="floating">Enter Email</ion-label>
                        <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('required') && forgotpasswordForm.get('email').touched">
                        &nbsp; &nbsp;&nbsp; &nbsp;Please input your email
                    </div>
                    <div class="error" *ngIf="forgotpasswordForm.get('email').hasError('pattern') && forgotpasswordForm.get('email').touched">
                        &nbsp; &nbsp;&nbsp; &nbsp;Email address invalid
                    </div>
                    <br>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button expand="block" color="primary" (click)="isForgotPassword = true">Cancel</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button expand="block" color="primary" [disabled]="!forgotpasswordForm.valid" (click)="reset()">Reset</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </form>
            </ion-col>
        </ion-row>

    </div>
</ion-content>