<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Overview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br>

    <div class="card1">
            <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon"><i class="material-icons">house</i></div>
                                    <p class="card-category">Properties</p>
                                    <h3 class="card-title">{{property}}</h3>
                                </div>
                            </div>
                        </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon"><i class="material-icons">mail</i></div>
                            <p class="card-category">Messages</p>
                            <h3 class="card-title">{{message}}</h3>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon"><i class="material-icons">person</i></div>
                                <p class="card-category">Prospects</p>
                                <h3 class="card-title">{{users}}</h3>
                            </div>
                        </div>
                    </div>
    
            </div>
        </div>
    
    <br>

    <!-- <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <canvas id="Line" width="600" height="370">Line Chart</canvas>
            </div>
          </ion-col>
          <ion-col>
            <div>
                <canvas id="Pie" width="600" height="370">Pie Chart</canvas>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>